.Assign1 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 10%;
}

.Assign2 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 40%;
}

.Assign3 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 60%;
}

.Assign4 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 90%;
}
.Assign5 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 10%;
	top: 75%;
}

.Assign6 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 40%;
	top: 75%;
}

.Assign7 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 60%;
	top: 75%;
}

.Assign8 {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 90%;
	top: 75%;

}